body {
  background-image: url('bg-image.jpg');
  background-size: cover;
  background-position: center;
}

.header {
  text-align: center;
  margin-top: 50px;
}

.header h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.header p {
  font-size: 24px;
  margin-bottom: 32px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menu-button {
  margin: 8px 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.menu-button img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.menu-button:hover img {
  transform: scale(1.2);
}

.menu-button:focus img {
  outline: none;
  transform: scale(1.2);
}

.menu-button:active img {
  transform: scale(0.8);
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.nickname {
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .menu {
    width: 80%;
    max-width: 300px;
  }

  .menu-button img {
    width: 40px;
    height: 40px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }
}
